html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@import url("http://fonts.googleapis.com/css?family=PT+Mono");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=PT+Mono");
@import url("http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic");
@import url("http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic");
.wrap {
  margin-left: 15%;
  margin-right: 15%;
  -moz-transition: margin 0.3s ease-out;
  -webkit-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  -ms-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
@media small {
  .wrap {
    margin-left: 10%;
    margin-right: 10%;
    -moz-transition: margin 0.3s ease-out;
    -webkit-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
}
@media xsmall {
  .wrap {
    margin-left: 2.5%;
    margin-right: 2.5%;
    -moz-transition: margin 0.3s ease-out;
    -webkit-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
}
.row {
  display: block;
}
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
}
body,
header,
main,
footer {
  display: block;
}
body:after,
header:after,
main:after,
footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
img {
  width: 100%;
}
body {
  background-color: #fafafa;
}
::-moz-selection {
  background-color: #ffb9a3;
  color: #fff;
}
::selection {
  background-color: #ffb9a3;
  color: #fff;
}
.primary {
  color: #ffb9a3;
}
.secondary {
  color: #399ccc;
}
.tertiary {
  color: #ff5826;
}
.primaryBg {
  background-color: #ffb9a3;
  fill: #ffb9a3;
}
.secondaryBg {
  background-color: #399ccc;
  fill: #399ccc;
}
.tertiaryBg {
  background-color: #ff5826;
  fill: #ff5826;
}
code,
pre {
  overflow: x-scroll;
  font-weight: normal;
}
pre {
  padding: 1.5rem;
}
code.inline {
  color: #ffb9a3;
  position: relative;
  line-height: 1;
  line: 0;
}
form fieldset {
  padding: 1rem;
  margin: 0;
}
form label {
  display: inline-block;
  font-size: basefont;
  vertical-align: top;
}
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='url'],
input[type='password'],
input[type='search'],
textarea {
  padding: 4px;
  border: 1px solid #7d7d7d;
  display: inline-block;
  font-size: basefont;
}
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background-color: #ffb9a3;
  padding: 16px 20px;
  color: #fff;
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  margin: 0.25rem;
}
button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  position: relative;
  top: 1px;
}
button[disabled=disabled],
input[type="submit"][disabled=disabled],
input[type="button"][disabled=disabled],
input[type="reset"][disabled=disabled] {
  background-color: #bebebe;
  color: #7d7d7d;
}
body video {
  width: 100%;
}
.youtube.video,
.vimeo.video,
.twitch.video {
  padding-top: 30px;
}
table {
  max-width: 100%;
  background-color: #fafafa;
  border-collapse: collapse;
  border-spacing: 0;
}
table p {
  margin: 0;
}
table {
  width: 100%;
  margin-bottom: line-height-base;
}
table th,
table td {
  padding: 8px;
  line-height: 1;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #7d7d7d;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #7d7d7d;
}
table .table {
  background-color: bodyBg;
}
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}
.table-bordered {
  border: 1px solid #7d7d7d;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #7d7d7d;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #ffb9a3;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  background-color: #fafafa;
}
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
  display: table-cell;
  float: none;
  margin-left: 0;
}
.table tbody tr.success > td {
  background-color: #58c026;
}
.table tbody tr.error > td {
  background-color: #ca3838;
}
.table tbody tr.warning > td {
  background-color: #f6b83f;
}
.table tbody tr.info > td {
  background-color: #868d92;
}
.table-hover tbody tr.success:hover > td {
  background-color: #54b624;
}
.table-hover tbody tr.error:hover > td {
  background-color: #c23434;
}
.table-hover tbody tr.warning:hover > td {
  background-color: #f5b330;
}
.table-hover tbody tr.info:hover > td {
  background-color: #7f868b;
}
html {
  font-size: 62.5%;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}
h1,
.h1 {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-size: 6rem;
  line-height: 1.6179999999999999;
  color: #000;
}
h2,
.h2 {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-size: 4.8rem;
  line-height: 1.6179999999999999;
  color: #000;
}
h3,
.h3 {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.6179999999999999;
  color: #000;
}
h4,
.h4 {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 1.618;
  color: #000;
}
h5,
.h5 {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.6179999999999999;
  color: #000;
}
h6,
.h6 {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6179999999999999;
  color: #000;
}
p,
ul,
ol li,
td,
th,
label,
legend,
dt,
dd,
figcaption,
summary,
caption,
address {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.6179999999999999;
}
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-size: 14.4px, true;
  color: #7d7d7d;
}
blockquote {
  border-left: 1px solid #7d7d7d;
  margin: 0;
  padding-left: 1rem;
}
a {
  color: #ffb9a3;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
a:hover {
  color: #ff5826 !important;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
a:visited {
  color: #ffc0ac;
}
a:active {
  position: relative;
  top: 1px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
mark {
  background-color: #ffb9a3;
  color: #fff;
  padding: 0 0.25rem;
}
blockquote {
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
}
pre,
code {
  font-family: 'PT Mono', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
@media only screen and (min-width: 64em) {
  .show-phone,
  .show-tablet,
  .hide-screen {
    display: none !important;
  }
  .show-screen,
  .hide-phone,
  .hide-tablet {
    display: inherit !important;
  }
}
@media only screen and (min-width: 37.5em) and (max-width: 64em), only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .show-phone,
  .show-screen,
  .hide-tablet {
    display: none !important;
  }
  .show-tablet,
  .hide-phone,
  .hide-screen {
    display: inherit !important;
  }
}
@media only screen and (max-width: 37.5em), only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .show-phone,
  .hide-tablet,
  .hide-screen {
    display: inherit !important;
  }
  .show-tablet,
  .hide-phone,
  .show-screen {
    display: none !important;
  }
}
html {
  padding: 40px;
}
polygon {
  -moz-transform: scale(1.9);
  -webkit-transform: scale(1.9);
  -o-transform: scale(1.9);
  -ms-transform: scale(1.9);
  transform: scale(1.9);
  -moz-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
