!!! 5
html
	head
		link(type="text/css",rel="stylesheet",href="css.css")
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1')
		script(type="text/javascript",src="assets/js/head.min.js")
	body
		include includes/hash

	script
		head.js(
		{jQuery: "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
		, {custom: "assets/js/js.js"}
		, {svg: "assets/js/svg.js"}
		, function() {
			if (SVG.supported) {
				var element = SVG.get('#poly')
				var image = draw.image('../img/300.jpg')
					image.size(600, 600).y(-150)
				image.clipWith(element)
			} else {
				alert('Your browser is rather old and does not support SVG. Upgrade to a new version to make use of this library.');
			}
			console.log("Head JS Finished")
		});