svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='762px', height='1164.5px', viewbox='0 0 762 1164.5', enable-background='new 0 0 762 1164.5', xml:space='preserve')
	defs
		pattern#imageh1(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/7nothingfades.jpg", preserveaspectratio='none')

		pattern#imageh2(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/T1.png", preserveaspectratio='none')

		pattern#imageh3(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/94starkt.jpeg", preserveaspectratio='none')
			
		pattern#imageh4(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/tweet1.jpg", preserveaspectratio='none')

		pattern#imageh5(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/21cosmosnchaos.jpeg", preserveaspectratio='none')

		pattern#imageh6(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/22courtlovesme.jpeg", preserveaspectratio='none')

		pattern#imageh7(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/70lilirusing.jpeg", preserveaspectratio='none')

		pattern#imageh8(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/8artmonger18.jpeg", preserveaspectratio='none')

		pattern#imageh9(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/16blearyeyedbrooklyn.jpeg", preserveaspectratio='none')	

		pattern#imageh10(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/73migsy.png", preserveaspectratio='none')

		pattern#imageh11(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/17bogartandmoore.jpeg", preserveaspectratio='none')

		pattern#imageh12(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/18BreceHoneycutt.jpg", preserveaspectratio='none')

		pattern#imageh13(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/44hahamag.jpeg", preserveaspectratio='none')

		pattern#imageh14(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/83ohcat.jpeg", preserveaspectratio='none')
	
	g#h
			polygon(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', points='1,1 240.5,1 241.833,445 519.5,445 519.5,1 761,1 761,1163.5 520,1163.5 519.5,646.5 241.322,646.5 241.833,1161 1,1161	 ')
			rect(x='0.5', y='1', fill='url(#imageh1)', width='239.5', height='235.5')
			polygon(fill='url(#imageh2)', points='240,236.5 241.333,340.833 0.5,340.833 0.5,236.5		')
			polyline(fill='url(#imageh3)', points='241.333,342.166 241.333,497.832 0.5,497.832 0.5,340.833 241.333,340.833	 ')
			polygon(fill='url(#imageh4)', points='0.5,497.832 240.333,497.832 241.333,802.166 0.5,800.833		')
			polygon(fill='url(#imageh5)', points='0.5,953.5 0.5,800.833 241.333,802.166 241.333,953.5		')
			path(fill='url(#imageh6)', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', d='M0.5,1161')
			rect(x='0.5', y='953.5', fill='url(#imageh7)', width='240.833', height='207.5')
			polygon(fill='url(#imageh8)', points='241.333,445 519.5,445 519.5,646.5 240.822,646.5		')
			rect(x='519', y='1', fill='url(#imageh9)', width='241.5', height='183')
			polygon(fill='url(#imageh10)', points='760.5,184 760.5,419.333 519.5,419.333 519,184	')
			polygon(fill='url(#imageh11)', points='760.5,419.333 760.5,654.5 519,654.5 519.5,419.5		')
			polygon(fill='url(#imageh12)', points='760.5,654.5 760.5,746.5 519.5,746.5 519,654.5	')
			rect(x='519.5', y='746.5', fill='url(#imageh13)', width='241', height='217.5')
			rect(x='519.5', y='964', fill='url(#imageh14)', width='241', height='199.5')
