svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='858.864px', height='1162.169px', viewbox='0 0 858.864 1162.169', enable-background='new 0 0 858.864 1162.169', xml:space='preserve')
		g#y
				polygon(fill='none', stroke='#DF366D', stroke-width='1.0013', stroke-miterlimit='10', points='0.765,0.501 272.098,0.501 429.781,449.001 595.598,0.501 858.098,0.501 550.906,703.525 549.681,1161.668 308.193,1161.668 308.193,703.525 	')
				rect(x='308.193', y='703.525', fill='none', width='241.488', height='458.143')
				polygon(fill='none', points='432.27,530.668 626.432,531.001 550.906,703.525 431.283,703.525 	')
				polygon(fill='none', points='431.781,453.001 431.781,703.525 308.193,703.525 196.098,449.001 431.781,449.001 	')
				polygon(fill='none', points='709.598,339.501 626.432,531.001 431.781,530.668 431.781,449.001 470.598,339.501 	')
				polygon(fill='none', points='470.598,339.501 523.098,197.501 772.598,197.501 709.598,339.501 	')
				polygon(fill='none', points='523.098,197.501 595.598,0.501 858.098,0.501 772.598,197.501 	')
				polygon(fill='none', points='352.765,231.002 429.781,449.001 196.098,449.001 100.765,231.002 	')
				polygon(fill='none', points='0.765,0.501 272.098,0.501 352.765,231.002 100.765,231.002 	')
