svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='683.334px', height='1163.337px', viewbox='0 0 683.334 1163.337', enable-background='new 0 0 683.334 1163.337', xml:space='preserve')
		path(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', d='M243.334,194.667')
		path(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', d='M243.334,194.667')
		g#e
				polyline(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', points='242.334,465.667 641.333,465.667 641.333,659.667 242.334,659.667 242.334,969 682.334,969 682.334,1162.333 1,1159.667 1,1 666.334,1 666.334,195.667 242.334,195.667 	')
				polygon(fill='none', points='2,1 479.334,1 479.334,195.667 2,192.333 	')
				rect(x='479.334', y='1', fill='none', width='188', height='194.667')
				path(fill='none', d='M459.334,241')
				polygon(fill='none', points='243.334,194.667 243.334,265.667 2,265.667 2,192.333 	')
				rect(x='2', y='265.667', fill='none', width='241.334', height='214.667')
				rect(x='2', y='480.333', fill='none', width='241.334', height='263.833')
				rect(x='2', y='744.167', fill='none', width='241.334', height='202.833')
				rect(x='2', y='947', fill='none', width='241.334', height='212.667')
				polygon(fill='none', points='683.334,969 683.334,1162.333 243.334,1159.667 243.334,969 	')
				rect(x='243.334', y='465.667', fill='none', width='188.999', height='194')
				rect(x='432.333', y='465.667', fill='none', width='210', height='194')
				line(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', x1='243.334', y1='465.667', x2='243.334', y2='194.667')
