svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='860.405px', height='1163.177px', viewbox='0 0 860.405 1163.177', enable-background='new 0 0 860.405 1163.177', xml:space='preserve')
    g#sudAPA_1_.hover
        image#sudAPA_2_(overflow='visible', width='241', height='459', xlink:href='assets/img/B5F232584654731.jpg', transform='matrix(1 0 0 1 309.2085 691.5176)')
      g#DRZD6X_1_.hover
        image#DRZD6X_2_(overflow='visible', width='333', height='201', xlink:href='assets/img/B5F232584654733.jpg', transform='matrix(1 0 0 1 524.0479 1.7559)')
      g#_x34_f4jO8_1_.hover
        image#_x34_f4jO8_2_(overflow='visible', width='299', height='143', xlink:href='assets/img/B5F232584654736.jpg', transform='matrix(1 0 0 1 471.8691 198.5049)')
      g#ULpr9H_1_.hover
        image#ULpr9H_2_(overflow='visible', width='275', height='192', xlink:href='assets/img/B5F232584654737.jpg', transform='matrix(1.0084 0 0 1 433.0537 339.6006)')
      g#wruJyr_1_.hover
        image#wruJyr_2_(overflow='visible', width='206', height='176', xlink:href='assets/img/B5F232584654732.jpg', transform='matrix(1 0 0 0.9911 421.6289 531.1719)')
      g#_x37_mf1am_1_.hover
        image#_x37_mf1am_2_(overflow='visible', width='235', height='257', xlink:href='assets/img/B5F23258465473D.jpg', transform='matrix(1 0 0 1 197.2104 448.2666)')
      g#QJ9tbh_1_.hover
        image#QJ9tbh_2_(overflow='visible', width='342', height='321', xlink:href='assets/img/B5F23258465473E.jpg', transform='matrix(1.0103 0 0 1 87.0435 128.5049)')
      g#v7rsF9_1_.hover
        image#v7rsF9_2_(overflow='visible', width='351', height='230', xlink:href='assets/img/B5F23258465473F.jpg', transform='matrix(1 0 0 1 2.0361 1.2559)')
      g#y
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='1.536,1.005 272.869,1.005 430.552,449.505 596.369,1.005 858.869,1.005 551.677,704.029 550.452,1162.172 308.964,1162.172 308.964,704.029 	')
        rect(x='308.964', y='704.029', fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', width='241.488', height='458.143')
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='433.041,531.172 627.203,531.505 551.677,704.029 432.054,704.029 	')
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='432.552,453.505 432.552,704.029 308.964,704.029 196.869,449.505 432.552,449.505 	')
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='710.369,340.005 627.203,531.505 432.552,531.172 432.552,449.505 471.369,340.005 	')
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='471.369,340.005 523.869,198.005 773.369,198.005 710.369,340.005 	')
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='523.869,198.005 596.369,1.005 858.869,1.005 773.369,198.005 	')
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='353.536,231.506 430.552,449.505 196.869,449.505 101.536,231.506 	')
        polygon(fill='none', stroke='#DF366D', stroke-width='2.0099', stroke-miterlimit='10', points='1.536,1.005 272.869,1.005 353.536,231.506 101.536,231.506 	')
