svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='683.334px', height='1163.337px', viewbox='0 0 683.334 1163.337', enable-background='new 0 0 683.334 1163.337', xml:space='preserve')
		//path(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', d='M243.334,194.667')
		//path(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', d='M243.334,194.667')
		defs
			pattern#imagee1(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/10artsfortransit.jpg", preserveaspectratio='none')

			pattern#imagee2(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/69_liam_bombard.jpeg", preserveaspectratio='none')

			pattern#imagee3(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/15black_von.png", preserveaspectratio='none')
				
			pattern#imagee4(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/82o_fishel.png", preserveaspectratio='none')

			pattern#imagee5(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/s2.png", preserveaspectratio='none')

			pattern#imagee6(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/13birdsandbells.jpeg", preserveaspectratio='none')

			pattern#imagee7(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/20caitlin_anne.png", preserveaspectratio='none')

			pattern#imagee8(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/68leilathebrave.png", preserveaspectratio='none')

			pattern#imagee9(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/11ashoonk.jpeg", preserveaspectratio='none')	

			pattern#imagee10(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/37faustltd.jpg", preserveaspectratio='none')

			pattern#imagee11(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/17bogartandmoore.jpeg", preserveaspectratio='none')

		g#e
				polyline(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', points='242.334,465.667 641.333,465.667 641.333,659.667 242.334,659.667 242.334,969 682.334,969 682.334,1162.333 1,1159.667 1,1 666.334,1 666.334,195.667 242.334,195.667 	')
				polygon(fill='url(#imagee1)', points='2,1 479.334,1 479.334,195.667 2,192.333 	')
				rect(x='479.334', y='1', fill='url(#imagee2)', width='188', height='194.667')
				path(fill='none', d='M459.334,241')
				polygon(fill='url(#imagee3)', points='243.334,194.667 243.334,265.667 2,265.667 2,192.333 	')
				rect(x='2', y='265.667', fill='url(#imagee4)', width='241.334', height='214.667')
				rect(x='2', y='480.333', fill='url(#imagee5)', width='241.334', height='263.833')
				rect(x='2', y='744.167', fill='url(#imagee6)', width='241.334', height='202.833')
				rect(x='2', y='947', fill='url(#imagee7)', width='241.334', height='212.667')
				polygon(fill='url(#imagee8)', points='683.334,969 683.334,1162.333 243.334,1159.667 243.334,969 	')
				rect(x='243.334', y='465.667', fill='url(#imagee9)', width='188.999', height='194')
				rect(x='432.333', y='465.667', fill='url(#imagee10)', width='210', height='194')
				line(fill='url(#imagee11)', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', x1='243.334', y1='465.667', x2='243.334', y2='194.667')
