svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='924.611px', height='1162px', viewbox='0 0 924.611 1162', enable-background='new 0 0 924.611 1162', xml:space='preserve')
	defs
		pattern#imagea1(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/98VAJIAJIA.png", preserveaspectratio='none')

		pattern#imagea2(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/49hwangsusie.jpeg", preserveaspectratio='none')

		pattern#imagea3(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/26derekschultz.jpeg", preserveaspectratio='none')
			
		pattern#imagea4(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/80natothompson.jpeg", preserveaspectratio='none')

		pattern#imagea5(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/77mollybgross.jpeg", preserveaspectratio='none')

		pattern#imagea6(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/47hellenophile.jpeg", preserveaspectratio='none')

		pattern#imagea7(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/48huffthis.jpeg", preserveaspectratio='none')

		pattern#imagea8(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/79nacona.png", preserveaspectratio='none')

		pattern#imagea9(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/78MOMAtalks.jpg", preserveaspectratio='none')	

		pattern#imagea10(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
			image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/92sarahsarahowen.jpeg", preserveaspectratio='none')


	g#a
		polygon(fill='url(#imagea1)', points='261.307,202 665.307,203 611.307,1 315.307,1 	')
		polygon(fill='url(#imagea2)', points='261.307,202 193.307,451 407.307,451 460.307,203 	')
		polygon(fill='url(#imagea3)', points='193.307,451 407.307,451 373.307,601 153.307,601 	')
		polyline(fill='url(#imagea4)', points='373.307,601 313.307,887 73.307,887 152.307,601 	')
		polygon(fill='url(#imagea5)', points='313.307,887 249.307,1161 1.307,1161 73.307,887 	')
		polygon(fill='url(#imagea6)', points='349.307,725 577.307,725 619.307,917 306.299,917 	')
		polygon(fill='url(#imagea7)', points='460.307,203 665.307,203 739.307,473 525.307,473 	')
		polygon(fill='url(#imagea8)', points='525.307,473 543.307,551 761.307,551 739.307,473 	')
		polygon(fill='url(#imagea9)', points='543.307,551 761.307,551 821.307,785 591.307,785 	')
		polygon(fill='url(#imagea10)', points='679.307,1161 923.307,1161 821.307,785 591.307,785 	')
		polygon(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', points='315.307,1 611.307,1 923.307,1161 679.307,1161 622.2,917 306.299,917 249.307,1161 1.307,1161 	')
		polygon(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', points='460.307,203 577.951,725.583 349.307,725 	')
