svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='244.001px', height='1163.333px', viewbox='0 0 244.001 1163.333', enable-background='new 0 0 244.001 1163.333', xml:space='preserve')
		g#i
				polygon(fill='none', stroke='#DF366D', stroke-width='2', stroke-miterlimit='10', points='2.334,1 243.001,1 243.001,1162.333 1.001,1162.333 	')
				rect(x='3.334', y='1', fill='none', width='240.667', height='214.667')
				polyline(fill='none', points='3.334,215.667 2.001,450.833 244.001,450.833 244.001,215.667 	')
				rect(x='2.001', y='450.833', fill='none', width='242', height='234.5')
				rect(x='2.001', y='685.333', fill='none', width='242', height='192')
				path(fill='none', d='M2.001,1162.333h242H2.001z')
				rect(x='2.001', y='877.333', fill='none', width='242', height='285')
