svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='789.721px', height='1164.35px', viewbox='0 0 789.721 1164.35', enable-background='new 0 0 789.721 1164.35', xml:space='preserve')
		defs
			pattern#imaged1(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='true')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/32electricmeat.jpg", preserveaspectratio='none')

			pattern#imaged2(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/New_6.png", preserveaspectratio='none')

			pattern#imaged3(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/27derekschultz_.png", preserveaspectratio='none')
				
			pattern#imaged4(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/35nancybriscoe.jpeg", preserveaspectratio='none')

			pattern#imaged5(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/NEW_3.png", preserveaspectratio='none')

			pattern#imaged6(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/29developingeye.jpg", preserveaspectratio='none')

			pattern#imaged7(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/61leynanoel.jpeg", preserveaspectratio='none')

			pattern#imaged8(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/74miniaturerhino.png", preserveaspectratio='none')

			pattern#imaged9(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/96theWeeklyNabe.jpg", preserveaspectratio='none')	

			pattern#imaged10(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/95pjpolicarpio.jpeg", preserveaspectratio='none')

			pattern#imager11(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/33ellierlevine.jpeg", preserveaspectratio='none')

			pattern#imager12(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/NEW_2.png", preserveaspectratio='none')

			pattern#imager13(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/44hahamag.jpeg", preserveaspectratio='none')

			pattern#imager14(width='1', height='1', viewbox='0 0 100 100', preserveaspectratio='none')
				image(x="0", y="0", opacity="1", height="100", width="100", xlink:href="assets/img/bg/83ohcat.jpeg", preserveaspectratio='none')
		g#d
			path(fill='none', stroke='#DF366D', stroke-miterlimit='10', d='M242,175.05V987.8h124.5c0,0,137.979,12.163,165-162.75c0,0,26.479-204.605,11-376.5c0,0-2.178-163.735-59.825-218.95c0,0-40.207-46.491-105.175-55.215L242,175.05z')
			rect(x='0.5', y='1.55', fill='url(#imaged1)', width='301.5', height='172.835')
			rect(x='0.5', y='175.05', fill='url(#imaged2)', width='241.5', height='267')
			rect(x='0.5', y='442.05', fill='url(#imaged3)', width='241.5', height='200')
			rect(x='0.5', y='642.05', fill='url(#imaged4)', width='241.5', height='144')
			rect(x='0.5', y='786.05', fill='url(#imaged5)', width='241.5', height='211.5')
			rect(x='0.5', y='997.55', fill='url(#imaged6)', width='241.5', height='164.5')
			path(fill='url(#imaged7)', d='M302,174.385h422.5c0,0-33.197-85.359-122.666-129.708c0,0-39.999-26.667-149.333-41.645c0,0-10-1.646-34.667-1.481H302V174.385z')
			path(fill='url(#imaged8)', d='M724.5,174.385h-347c0,0,131.5,2.165,156.5,181.665h242C776,356.05,763.857,237.509,724.5,174.385z')
			path(fill='url(#imaged9)', d='M776,356.05H534c0,0,9.5,73.5,8.5,92.5h241C783.5,448.55,778.818,377.65,776,356.05z')
			path(fill='url(#imaged10)', d='M542.5,448.55c0,0,6,146.5,3,171h242c0,0,3.5-101-4-171H542.5z')
			path(fill='url(#image)', d='M545.5,619.55H786c0,0,2,120-17,205.5H531.5C531.5,825.05,543,759.05,545.5,619.55z')
			path(fill='url(#image)', d='M531.5,825.05H769c0,0-6.5,72.5-37,135.5c0,0-55.5,159.5-228.5,190v-242.5C503.5,908.05,527.021,859.713,531.5,825.05z')
			path(fill='url(#image)', d='M503.5,908.05c0,0-31.5,76-137,79.75H242v174.25h116.5c0,0,115,1.5,145-11.5V908.05z')
			path(fill='none', stroke='#DF366D', stroke-miterlimit='10', d='M0.5,1.55H302l93.028-0.644c0,0,237.465-17.287,329.472,173.479c0,0,53.623,69.421,63.815,334.083c0,0,8.731,227.516-28.036,368.333c0,0-44.812,238.689-256.779,273.749c0,0-96.436,14.838-178.968,13.169L0.5,1162.05V1.55z')
